<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>wcm article list</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="col-md-12">
     <div class="row">
        <div class="col-sm-1">
            <a href="/sites/${siteTag}/articles/create?redirectUrl=${thisUrl}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
     </div>
      <div id='content' class = "row">
        #foreach( $article in $articles )
            <div class="col-sm-3" >
                <div class="thumbnail">
                    <a href="/articles/edit/${article.articleId}?redirectUrl=${thisUrl}" class="btn btn-sm pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <h4>${article.title}</h4>
                    <article><hr>${article.content}</article>
                </div>
            </div>
        #end
    </div>
            <nav>
                <ul class="pager">
                    <li class="previous #if(!$fPivot)disabled#end"><a href="#if($fPivot)${uri}?forward=true&pivot=${fPivot}#end"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next #if(!$bPivot)disabled#end"><a href="#if($bPivot)${uri}?forward=false&pivot=${bPivot}#end">Newer <span aria-hidden="true">&rarr;</span></a></li>

                </ul>
            </nav>
  </div>
</div>
</body>
<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/imagesLoaded.min.js"></script>
<script>
    $( document ).ready(function() {
        $("#content img").each(function() {
            $(this).addClass("img-responsive");
        }) ;
        content.imagesLoaded( function() {
            content.masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.col-sm-3',
                // use element for option
                columnWidth: '.col-sm-3',
                percentPosition: true
            });
        });
    });


</script>
</html>