<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>wcm article list</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div id='content' class='row-fluid'>
    <div class="col-sm-3">
        <a href="/sites/${siteTag}/articles/create" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
#foreach( $article in $articles )
    <div class="col-sm-3">
        <h2>${article.title}</h2>
        <article><hr>${article.content}</article>
    </div>
#end
        </div>
</div>
</body>
</html>