<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>wcm article list</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    #parse("navbar.vm")
  <div class="col-md-12">


          <div class="btn-toolbar row" role="toolbar" aria-label="...">
              <div class="btn-group" role="group" aria-label="..."><a href="/sites/${siteTag}/articles/create?redirectUrl=${thisUrl}" class="btn btn-sm btn-primary">
                  Create New
              </a></div>
              <div class="btn-group" role="group" aria-label="..."><a href="#if($bPivot)${uri}?forward=false&pivot=${bPivot}#else # #end" class="btn btn-sm btn-primary #if(!$bPivot)disabled#end">
                  Backward
              </a>
                  <a href="#if($fPivot)${uri}?forward=true&pivot=${fPivot}#else # #end" class="btn btn-sm btn-primary #if(!$fPivot)disabled#end">
                  Forward
                  </a>
              </div>
          </div>

      <div id='content' class = "row">
        #foreach( $article in $articles )
            <div class="col-sm-3" >
                <div class="thumbnail">
                    <a href="/sites/${siteTag}/articles/edit/${article.articleId}?redirectUrl=${thisUrl}" class="btn btn-sm pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <h4>${article.title}</h4>
                    <article><hr>${article.content}</article>
                </div>
            </div>
        #end
    </div>
  </div>
</div>
</body>
<script src="/js/jquery-1.11.3.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/imagesLoaded.min.js"></script>
<script>
    $( document ).ready(function() {
        $("#content img").each(function() {
            $(this).addClass("img-responsive");
        }) ;
        $("#content").imagesLoaded( function() {
            $("#content").masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.col-sm-3',
                // use element for option
                columnWidth: '.col-sm-3',
                percentPosition: true
            });
        });
    });


</script>
</html>