<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>wcm sites list</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <li class = "list-group-item active">
        Choose site
        <a href="another_django_url" class="icon pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </li>

    #foreach( $site in $sites )
        <a href = "#" class = "list-group-item">
            <h4 class = "list-group-item-heading">
                ${site.siteTag}
            </h4>
            <p class = "list-group-item-text">
                ${site.description}
            </p>
        </a>
    #end
</div>
</body>

</html>