<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.article.ArticleMapper">

    <resultMap type="com.practice.article.ArticleDB" id="articleDBMap">
        <id property="articleId" column="ARTICLE_ID" jdbcType="BIGINT" />
        <result property="siteId" column="SITE_ID" jdbcType="BIGINT" />
        <result property="title" column="TITLE" jdbcType="VARCHAR" />
        <result property="content" column="CONTENT" jdbcType="VARCHAR" />
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
        <result property="modifiedDate" column="MODIFIED_DATE" jdbcType="TIMESTAMP" />
        <result property="modifiedBy" column="MODIFIED_BY" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="*">
    ARTICLE_ID, SITE_ID, TITLE, CONTENT, CREATE_DATE, MODIFIED_DATE, MODIFIED_BY
    </sql>

    <sql id="values">
    #{articleDB.articleId},
    #{articleDB.siteId},
    #{articleDB.title},
    #{articleDB.content},
    #{articleDB.createDate},
    #{articleDB.modifiedDate},
    #{articleDB.modifiedBy}
    </sql>

    <insert id="insert" parameterType="com.practice.article.ArticleDB">
        insert into article (
            LOGICAL_SHARD_ID,
            <include refid="*" />
        ) values (
            #{_logicalShardId_},
            <include refid="values" />
        )
    </insert>

    <update id="update" parameterType="com.practice.article.ArticleDB">
        update article
        set
          TITLE = #{articleDB.title},
          CONTENT = #{articleDB.content},
          MODIFIED_DATE = #{articleDB.modifiedDate},
          MODIFIED_BY = #{articleDB.modifiedBy}
        where
          ARTICLE_ID=#{articleDB.articleId}
    </update>


    <select id="getById"  resultType="com.practice.article.ArticleDB" resultMap="articleDBMap">
        select
          <include refid="*" />
        from
          article
        where
          ARTICLE_ID=#{articleId}
    </select>

    <select id="getBySite"  resultType="com.practice.article.ArticleDB" resultMap="articleDBMap">
        select
          <include refid="*" />
        from
          article
        where
          SITE_ID=#{siteId}
        <if test="lastDate != null and lastId != null">
            <choose>
                <when  test="forward == false">
                    <![CDATA[
                    and (CREATE_DATE > #{lastDate} or (CREATE_DATE = #{lastDate} and ARTICLE_ID > #{lastId}))
                    ]]>
                </when>
                <otherwise>
                    <![CDATA[
                    and (CREATE_DATE < #{lastDate} or (CREATE_DATE = #{lastDate} and ARTICLE_ID < #{lastId}))
                    ]]>
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="forward == false">
                order by CREATE_DATE, ARTICLE_ID
            </when>
            <otherwise>
                order by CREATE_DATE desc, ARTICLE_ID desc
            </otherwise>
        </choose>
        limit #{pageSize}
    </select>

</mapper>