<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.article.ArticleHistoryMapper">

    <resultMap type="com.practice.article.ArticleDB" id="articleDBMap">
        <id property="articleId" column="ARTICLE_ID" jdbcType="BIGINT" />
        <id property="version" column="VERSION" jdbcType="INTEGER" />
        <result property="siteId" column="SITE_ID" jdbcType="BIGINT" />
        <result property="title" column="TITLE" jdbcType="VARCHAR" />
        <result property="content" column="CONTENT" jdbcType="VARCHAR" />
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
        <result property="modifiedDate" column="MODIFIED_DATE" jdbcType="TIMESTAMP" />
        <result property="modifiedBy" column="MODIFIED_BY" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="*">
    ARTICLE_ID, SITE_ID, VERSION, TITLE, CONTENT, CREATE_DATE, MODIFIED_DATE, MODIFIED_BY
    </sql>

    <sql id="values">
    #{articleDB.articleId},
    #{articleDB.siteId},
    #{articleDB.version},
    #{articleDB.title},
    #{articleDB.content},
    #{articleDB.createDate},
    #{articleDB.modifiedDate},
    #{articleDB.modifiedBy}
    </sql>

    <insert id="append" parameterType="com.practice.article.ArticleDB">
        <selectKey keyProperty="articleDB.version" resultType="java.lang.Integer" order="BEFORE">
            select COALESCE(max(VERSION), 0)+1 from article WHERE ARTICLE_ID=#{articleDB.articleId}
        </selectKey>
        insert into article (
            LOGICAL_SHARD_ID,
            <include refid="*" />
        ) values (
            #{_logicalShardId_},
            <include refid="values" />
        )
    </insert>


    <select id="getHistory"  resultType="com.practice.article.ArticleDB" resultMap="articleDBMap">
        select
          <include refid="*" />
        from
          article
        where
          ARTICLE_ID=#{articleId}
        <choose>
            <when test="version != null">
                and VERSION=#{version}
            </when>
            <otherwise>
                order by VERSION desc
                limit 1
            </otherwise>
        </choose>
    </select>
</mapper>