<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.def.IdGeneratorMapper">

    <select id="getSequenceNextValue" parameterType="com.practice.def.IdGeneratorParam" statementType="CALLABLE">
    <![CDATA[
    CALL GET_SEQUENCE_ID_NEXT_VALUE(
        #{idGeneratorParam.logicalShardId, mode=IN, jdbcType=INTEGER},
        #{idGeneratorParam.groupId, mode=IN, jdbcType=INTEGER},
        #{idGeneratorParam.batchSize, mode=IN, jdbcType=INTEGER},
        #{idGeneratorParam.nextValue, mode=OUT, jdbcType=BIGINT})
        ]]>
    </select>

</mapper>