<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.site.SiteMapper">

    <resultMap type="com.practice.site.SiteDB" id="siteDBMap">
        <id property="siteId" column="SITE_ID" jdbcType="BIGINT" />
        <result property="userId" column="USER_ID" jdbcType="BIGINT" />
        <result property="name" column="NAME" jdbcType="VARCHAR" />
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR" />
        <result property="siteTag" column="SITE_TAG" jdbcType="VARCHAR" />
        <result property="createDate" column="CREATE_DATE" jdbcType="DATE" />
        <result property="modifiedDate" column="MODIFIED_DATE" jdbcType="DATE" />
        <result property="modifiedBy" column="MODIFIED_BY" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="*">
      SITE_ID, USER_ID, NAME, DESCRIPTION, SITE_TAG, CREATE_DATE, MODIFIED_DATE, MODIFIED_BY
    </sql>

    <sql id="values">
    #{siteDB.siteId},
    #{siteDB.userId},
    #{siteDB.name},
    #{siteDB.description},
    #{siteDB.siteTag},
    #{siteDB.createDate},
    #{siteDB.modifiedDate},
    #{siteDB.modifiedBy}
    </sql>

    <insert id="insert" parameterType="com.practice.site.SiteDB">
        insert into site (
            LOGICAL_SHARD_ID,
            <include refid="*" />
        ) values (
            #{_logicalShardId_},
            <include refid="values" />
        )
    </insert>

    <update id="update" parameterType="com.practice.site.SiteDB">
        update site
        set
            <if test="siteDB.userId != null">
                USER_ID = #{siteDB.userId},
            </if>
            <if test="siteDB.name != null">
                NAME = #{siteDB.name},
            </if>
            <if test="siteDB.description != null">
                DESCRIPTION = #{siteDB.description},
            </if>
            <if test="siteDB.siteTag != null">
                SITE_TAG = #{siteDB.siteTag},
            </if>
            MODIFIED_DATE = #{userDB.modifiedDate},
            MODIFIED_BY = #{userDB.modifiedBy}
        where
            SITE_ID=#{siteId}
    </update>


    <select id="getSiteById"  resultType="com.practice.site.SiteDB" resultMap="userDBMap">
        select
          <include refid="*" />
        from
        site
        where
          SITE_ID=#{siteId}
    </select>

    <select id="getSiteByTag"  resultType="com.practice.site.SiteDB" resultMap="userDBMap">
        select
          <include refid="*" />
        from
          site
        where
          SITE_TAG=#{siteTag}
    </select>

    <select id="getSitesByUserId"  resultType="com.practice.site.SiteDB" resultMap="userDBMap">
        select
          <include refid="*" />
        from
          site
        where
          USER_ID=#{userId}
    </select>

</mapper>